<%- include(root + 'partials/header'); -%>
<%- include(root + 'partials/mainLink'); -%> 


<div class="container">
    <h1 class="title">User Name & Password</h1>
    <form class="needs-validation" action="/register" method="POST">
        <div class="row row-cols-1 auth-box">
            <div class="col box">
                <div class="form-group">            
                    <label class="form-label" for="username">User Name</label>
                    <input class="form-control" name="username" type="text" required>
                </div>
            </div>                                   
            <div class="col box">
                <div class="form-group">
                    <label class="form-label" for="password">Password</label>
                    <input class="form-control" name="password" type="password" pattern=".{10-20}" required>
                </div>
            </div>
            <div class="col box">
                <button class="btn login_signup" type="submit">Submit</button>
            </div>
        </div>
        <input type="hidden" name="objID" value=<%= patientID %>>
    </form>
</div>



<%- include(root + 'partials/footer', {Copyright: CR}); %> 