        <footer class="container">
            <div>
                <img class="foot-logo" src="/images/Logo(1).png" alt="Logo">
            </div>
            <div class="foot-container">
            <div>Logo from <a class="link footLink" href="https://www.freelogodesign.org/">FreeLogoDesign</a></div>
            <div>Backgroud texture from <a class="link footLink" href="https://www.transparenttextures.com/">Transparenttextures</a></div>
            <div>Copyright &copy; <%= Copyright %> Randy Wilkins </div>
            </div>
        </footer>
    </body>
</html>