<header class="container">

    <nav class="navbar">
        <div class="container-fluid">
            <a class="navbar-brand d-flex flex-row" href="/">
                <img class="logo" src="/images/Logo(1).png" alt="logo">
                <H1 class='comp-name'>MED PORTAL</H1>
            </a>
        </div>
    </nav>
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link" href="/locations">Locations</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link" href="/myChart">MyChart</a>
        </li>
    </ul>
</header>