<%- include('partials/header'); -%> 

<div class="container">
    <div class="home-message">
        <h2>The Med Portal</h2>
        <p>Welcome to the Med Portal for all your medical needs covered!</p>
    </div>
</div>

<%- include('partials/footer', {Copyright: CR}); %> 