<%- include('partials/header'); -%>
<%- include('partials/mainLink');  -%> 

<div class="container">
    <h1 class="title">Welcome to Med Portal!</h1>
    <%- include('partials/weatherpanel');  -%>
    
    <div class="intro-panel">
        <h3 class="intro-title third_title">Why Med Portal fits you.</h3>
        <p class="intro-state">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
            velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>     
    <div class="intro-panel">
        <h3 class="intro-title third_title"> Family Friendly</h3>
        <p class="family-state">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
            ut labore et dolore magna aliqua. Pulvinar etiam non quam lacus suspendisse faucibus interdum. 
            Sed tempus urna et pharetra pharetra massa massa ultricies. Turpis tincidunt id aliquet 
            risus feugiat in ante. Dictum at tempor commodo ullamcorper. Quam viverra orci sagittis eu. 
            Quis hendrerit dolor magna eget est lorem ipsum dolor. Justo eget magna fermentum iaculis. 
            Turpis cursus in hac habitasse platea dictumst quisque sagittis. Dignissim diam quis enim 
            lobortis scelerisque fermentum dui. Nam libero justo laoreet sit amet cursus sit amet. 
            Sollicitudin aliquam ultrices sagittis orci. Diam sit amet nisl suscipit adipiscing bibendum 
            est ultricies. Integer vitae justo eget magna fermentum iaculis eu non. Scelerisque felis 
            imperdiet proin fermentum leo vel orci. Nec feugiat nisl pretium fusce.
        </p>
    </div>
    <div class="home-img">
        <img src="/images/family-using-computer.jpg" alt="family computer">
    </div>           
</div>

<%- include('partials/footer', {Copyright: CR}); %> 