<%- include('partials/header'); -%> 

<div class="container">
    <div class="title-panel">
        <h2 class="title"> Welcome to MyChart</h2>
        <img class="chart-img" src="/images/chart_img.jpg" alt="doctor image">
        <ul class="open-panel">
            <li>Easy access for both patient and provider,</li>
            <li>Providers and patients to connect.</li>
            <li>An easy to read recorded system.</li>
            <li>Access to labs and subcriptions.</li>
            <li>Easy sytem to schedule appointments.</li>
        </ul>
    </div>
    <div class="signUp">
        <h3>Get access to your chart now!</h3>
        <a href="/login">
        <button class="login_signup">Log In/ Sign Up</button></a>
    </div>
</div>

<%- include('partials/footer', {Copyright: CR}); %> 