* {
    margin: 0;
}
ul {
    list-style: none;
}
a{
    text-decoration: none;
}

body{
    background-color: #f2f2f2;
    background-image: url("https://www.transparenttextures.com/patterns/batthern.png");
}

.container{
    background-color: #17e1f7;
    color: #9e4ee0;
    font-family: 'Libre Baskerville', serif;    
}

.full-page{
    height: auto;
    padding-bottom: 20rem;
}

.title{
    font-size: 4rem;
    padding: 3rem;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
}

.third_title{
    font-size: 2.5rem;
    text-decoration: underline;
}

input:invalid {
    border: red solid 2px;
  }

input:valid{
    border: green solid 2px;
}



/* Header */

.comp-name{
    color: #9e4ee0;
    font-size: 3.5rem;
    margin-left: 3rem;
    margin-top: 1.5rem;
    font-family: 'Libre Baskerville', serif;
}

.logo {
    width: 7.5rem;
    height: auto;
    justify-self: left;
    margin-left: 1.5rem;
}

.link{
    color: #9e4ee0;
    font-size: 1.5rem;
    font-family: 'Libre Baskerville', serif;
}

.link:hover{
    color: #e04ed9
}


/* Footer */
footer{ 
    padding-top: 2.5rem;
    padding-bottom: .5rem;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.foot-logo{
    width: 5rem;
    height: auto;
}

.link.footLink{
    font-size: 1rem;
}

/* Weather Panel */

.wet-panel{
    width: 20rem;
    height: 20rem;
    position: relative;
    left: 68%;
}

.forcast-panel{
    display: flex;
    justify-content: center;
}

.forcast-panel:first-child{
    border-left: solid 2px;
}

.day-cast{
    font-size: 1.25rem;
    text-align: center;
    padding: .5rem 1.10rem .25rem 1rem;
    margin-left: -2px;
    border-width: 2px;
    border-style: solid solid solid solid;    
}

.wet-date{
    margin-bottom: 0;
}

.cast-img{
    width: 3rem;
    height: auto;
    padding-right: 2px;
}

/* Home Page */

.intro-panel{
    width: 40rem;
    height: auto;
    padding-bottom: 5rem;
    position: relative;
    top: -10rem;
    left: 5rem;
}

.intro-title{
    text-decoration: none;
}

.home-img{
    position: relative;
    top: -5rem;
    left: 35%;
}

/* Location Page */

.loc_panel{
    width: 30rem;
    height: 15rem;
    margin: 4rem auto 10px auto;
    font-family: 'Libre Baskerville', serif;
    position: relative;
    text-align: center;
}

.loc_name{
    color: #9e4ee0;
    font-size: 2.5rem;
    font-weight: 600;
    padding-top: 1rem;
}

.loc_name:hover{
    color: #e04ed9
}

.loc_img{
    border: 3px black solid;
    width: 15rem;
    height: auto;
    margin: 2rem 0 1rem 0;
}

/* MyChart page */

.first-panel{
    margin: 2rem;
    padding: 5rem;
    display: flex;
}

.secon-panel{
    width: 100%;
    height: auto;
    margin: 5rem;
}

.login_form{
    width: 25rem;
    height: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid; 
}

.first-img{
    margin-left: 10rem;
}

.chart-img{
    width: 30rem;
    height: auto;
    padding: 3rem;
}

.open-panel{
    width: 40rem;
    height: auto;
    font-size: 1.75rem;
    float: right;
    padding: 3rem;
}

.third-panel{
    width: 100%;
    height: auto;
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signUp{
    width: 35rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.signUp h3{
    font-size: 2.5rem;
    padding-bottom: 2rem;
}

.login_signup{
    background-color: #9e4ee0;
    font-size: 1rem;
    width: 15rem;
    height: 2.5rem;
    margin-top: .75rem;
}

.login_signup:hover{
    background-color: #e04ed9;
    color: #f2f2f2;
}



