* {
    margin: 0;
}
ul {
    list-style: none;
}
a{
    text-decoration: none;
}

body{
    background-color: #f2f2f2;
    background-image: url("https://www.transparenttextures.com/patterns/batthern.png");
}

.container{
    background-color: #17e1f7;
    color: #9e4ee0;
}

/* Header */

.comp-name{
    color: #9e4ee0;
    font-size: 3.5rem;
    margin-left: 3rem;
    margin-top: 1.5rem;
    font-family: 'Libre Baskerville', serif;
}

.logo {
    width: 7.5rem;
    height: auto;
    justify-self: left;
    margin-left: 1.5rem;
}

.link{
    color: #9e4ee0;
    font-size: 1.5rem;
    font-family: 'Libre Baskerville', serif;
}

.link:hover{
    color: #e04ed9
}


/* Footer */
footer{ 
    padding-top: 5rem;
    padding-bottom: .5rem;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.foot-logo{
    width: 5rem;
    height: auto;
}

.link.footLink{
    font-size: 1rem;
}

/* Location Page */

.loc_container{
    padding-bottom: 6rem;
}

.loc_panel{
    width: 30rem;
    height: 15rem;
    margin: 4rem auto 10px auto;
    font-family: 'Libre Baskerville', serif;
    position: relative;
    text-align: center;
}

.loc_name{
    color: #9e4ee0;
    font-size: 2.5rem;
    font-weight: 600;
    padding-top: 1rem;
}

.loc_name:hover{
    color: #e04ed9
}

.loc_img{
    border: 3px black solid;
    width: 15rem;
    height: auto;
    margin: 2rem 0 1rem 0;
}

/* Clinic Page */

.cli_panel{
    padding: 3rem 0 10rem 0;
}

.cli_title_panel{
    width: 27rem;
    height: auto;
    padding: 3rem 0 3rem 2rem;
    margin-left: 5rem;
    position: relative;
}

.marker{
    font-size: 2rem;
}

.cli_add{
    position: relative;
    left: 40px;
    top: -30px;
}

.cli_img{
    width: 35rem;
    height: auto;
    padding: 0 2rem 0 0;
    margin-right: 5rem;
    float: right;
    position: relative;
    top: -10rem;
}

.cli_second_panel{
    text-align: center;
    position: relative;
    left: -60px;
}

.cli_hour_panel{
    width: 35rem;
    height: auto;
    padding: 1rem 0 3rem 2rem;
    margin-left: 5rem;
    position: relative;
}

.cli_hour{
    font-weight: 600;    
    margin-top: 1rem;
}